#del proyecto
3D_Dock/progs/build
3D_Dock/progs/randomspin
3D_Dock/progs/ftdock
3D_Dock/progs/*~
3D_Dock/progs/my_path 
.gitignore~
#especifica ruta de fftw

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
